<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="main-wrapper">
		<div class="container">
			<div class="row aln-center">
				<table class="table">
		          	<tr>
		            	<td width="30%" class="text-center" rowspan="9">
		              		<img th:src="${vo.poster}" style="width: 300px; height: 250px;">
		            	</td>
		            	<td colspan="2">
		              		<h3>[[${vo.name}]]&nbsp;<span style="color: orange;">[[${vo.score}]]</span></h3>
		            	</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">주소</th>
		            	<td width="60%" class="text-left">[[${vo.address}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">전화</th>
		            	<td width="60%" class="text-left">[[${vo.phone}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">음식종류</th>
		            	<td width="60%" class="text-left">[[${vo.type}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">가격대</th>
		            	<td width="60%" class="text-left">[[${vo.price}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">영업시간</th>
		            	<td width="60%" class="text-left">[[${vo.time}]]</td>
		          	</tr>
		          	<tr>
			            <th width="10%">주차</th>
			            <td width="60%" class="text-left">[[${vo.parking}]]</td>
					</tr>
		          	<tr>
		            	<th width="10%">테마</th>
		            	<td width="60%" class="text-left">[[${vo.theme}]]</td>
		          	</tr>
		          	<tr>
		          		<th width="10%">좋아요</th>
		          		<td width="60%" class="text-left">
		          			<img src="/images/likeon.png" style="width: 20px; height: 20px; display: inline-block;">([[${vo.hit}]])
		          		</td>
		          	</tr>
				</table>
				<table class="table">
					<tr>
						<td>[[${vo.content}]]</td>
				    </tr>
				    <tr>
						<td class="text-right">
							<a href="#" class="btn btn-xs btn-primary">찜하기</a>
							<a href="#" class="btn btn-xs btn-info">예약하기</a>
							<a href="javascript:history.back()" class="btn btn-xs btn-warning">목록</a>
						</td>
				    </tr>
				</table>
			</div>
			<!-- 댓글 -->
			<div class="row aln-center" style="margin-top: 0px;">
				<table class="table">
					<tr>
						<td>
							<table v-for="rvo in list">
								<tr>
									<td class="text-left" width="80%">
										●((rvo.name))&nbsp;((rvo.dbday))
									</td>
									<td class="text-right" width="20%">
										<span v-if="sessionId === rvo.id">
											<button type="button" class="btn-xs btn-warning upbtn" :id="'u'+rvo.no" @click="replyUpdateForm(rvo.no)">수정</button>
											<button type="button" class="btn-xs btn-info" @click="replyDelete(rvo.no)">삭제</button>
										</span>
									</td>
								</tr>
								<tr>
									<td colspan="2" class="text-left">
										<pre style="white-space: pre-wrap; background-color: white; border: none;">((rvo.msg))</pre>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<table class="aln-center ups" style="display: none;" :id="'up'+rvo.no">
											<tr>
												<td>
													<textarea rows="5" cols="138" style="float: left;" :id="'umsg'+rvo.no">((rvo.msg))</textarea>
													<button type="button" class="btn-danger" style="margin-left: 2px; width: 105px; height: 106px; float: left;" @click="replyUpdate(rvo.no)">댓글수정</button>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="aln-center" th:if="${session.id != null}">
					<tr>
						<td>
							<textarea rows="3" cols="144" style="float: left;" v-model="msg" ref="msg"></textarea>
							<button type="button" class="btn-danger" style="margin-left: 2px; width: 105px; height: 102px; float: left;" @click="insert()">댓글작성</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		const commentApp = Vue.createApp({
			// Model = 데이터 관리 => 변수가 변경이 되면 => HTML에 적용
			// 상태(변수) 관리 프로그램
			data() {
				return {
					// 멤버변수
					list: [],
					cno: '[[${vo.fno}]]',
					sessionId: '[[${sessionId}]]',
					msg: '',
					type: 1,
					up: false
				}
			},
			/* 
				VM => 변수를 변경하는 곳
			    callback : Vue의 생명
			    = created() : 설정 => Vue객체 생성완료
			    = ***mounted() : 브라우저에서 HTML을 번역 후 출력 완료
			    = updated() : 멤버변수가 변경된 경우
			    = unmounted() : 화면 변경 => Vue객체가 소멸
			    
			    사용자 요청 === VM 작업 === 결과값 : Model === View(HTML)
			    
			    가상돔 => 일부만 관리
			    ---- 임시메모리에 저장 ==== 실제 돔 (브라우저에서 읽어서 출력)
			             |               |
			            저장 --------------
			                비교해서 다른 부분만 변경 => diff
			    => 시리얼라이즈 : Buffered
			       -------------------
			    => 게임 (더블 버퍼링)
			 */
			mounted() {
				/*  
					자동 호출 : window.onload => 연동 / 서버 연결
				   	jquery / react
				   	$(function() {
					 	$('#a').click(function(){})  
				   	})
				   	=>
					useEffect(()=> {
						axios.get()
					},[curpage])
					query([curpage], function(){})
				 */
				 	axios.get('http://localhost/comment/list_vue/', {
				 		params: {
				 			cno: this.cno,
				 			type: this.type
				 		}
				 	}).then(response=> {
				 		console.log(response.data)
				 		this.list = response.data.list
				 		this.cno = response.data.cno
				 		this.type = response.data.type
				 	})
			},
			methods: {
				// 사용자 정의 기능 => 요청처리
				insert() {
					if(this.msg === "") {
						this.$refs.msg.focus()
						return
					}
					axios.post('http://localhost/comment/insert_vue/', {
						cno: this.cno,
						type: this.type,
						msg: this.msg
					}).then(response=> {
				 		console.log(response.data)
				 		this.list = response.data.list
				 		this.cno = response.data.cno
				 		this.type = response.data.type
				 	})
				 	this.msg = ""
				 	this.$refs.msg.focus()
				},
				replyDelete(no) {
					axios.get('http://localhost/comment/delete_vue/', {
						params: {
							no: no,
							cno: this.cno,
							type: this.type
						}
					}).then(response=> {
				 		console.log(response.data)
				 		this.list = response.data.list
				 		this.cno = response.data.cno
				 		this.type = response.data.type
				 	})
				},
				replyUpdateForm(no) {
					$('.ups').hide()
					$('.upbtn').text("수정")
					if(this.up === false) {
						this.up = true
						$('#up'+no).show()
						$('#u'+no).text("취소")
					} else {
						this.up = false
						$('#up'+no).hide()
						$('#u'+no).text("수정")
					}
				},
				replyUpdate(no) {
					let msg = $('#umsg'+no).val()
					if(msg === "") {
						$('#umsg'+no).focus()
						return
					}
					
					axios.get('http://localhost/comment/update_vue/', {
						params: {
							no: no,
							cno: this.cno,
							type: this.type,
							msg: msg
						}
					}).then(response=> {
						console.log(response.data)
				 		this.list = response.data.list
				 		this.cno = response.data.cno
				 		this.type = response.data.type
				 		$('#up'+no).hide()
				 		$('#u'+no).text("수정")
					})
				}
			},
			computed: {
				// 시간, 가격, 총금액 => Format
			},
			components: {
				// 여러개의 기능을 처리 =>
			}
			// HTML출력하는 영역 => <template> => View => MVVM
		})
		commentApp.config.compilerOptions.delimiters=['((','))']
		commentApp.mount('#main-wrapper')
	</script>
</body>
</html>