<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Header -->
	<div id="header-wrapper">
		<header id="header" class="container">	
			<!-- Logo -->
			<div id="logo">
				<h1><a href="/">SFR</a></h1>
			</div>
	
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="/">Home</a></li>
					<li><a href="/member/join">회원가입</a></li>
					<li>
						<a href="#">맛집</a>
						<ul>
							<li><a href="/food/list">맛집 목록</a></li>
							<li><a href="/food/search">맛집 검색</a></li>
							<li><a href="/food/reserve">맛집 예약</a></li>
						</ul>
					</li>
					<li>
						<a href="#">레시피</a>
						<ul>
							<li><a href="/recipe/list">레시피 목록</a></li>
							<li><a href="/recipe/search">레시피 검색</a></li>
							<li><a href="/recipe/recommend">레시피 추천</a></li>
							<li><a href="/recipe/chef">쉐프</a></li>
						</ul>
					</li>
					<li><a href="/seoul/list">서울여행</a></li>
					<li><a href="/movie/search">동영상 검색</a></li>
					<li><a href="/board/list">커뮤니티</a></li>
				</ul>
			</nav>
		</header>
	</div>
</body>
</html>