<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Banner -->
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="col-7 col-12-medium">
					<h2>여행의 필수</h2>
					<p>맛집 & 레시피</p>
				</div>
				<div class="col-5 col-12-medium">
					<ul>
						<li><a href="/seoul/location" class="button large icon solid fa-arrow-circle-right">서울 여행</a></li>
						<li><a href="#" class="button alt large icon solid fa-arrow-circle-right">부산 여행</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Features -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium" th:each="vo : ${lList}">
					<!-- Box -->
					<section class="box feature">
						<a th:href="@{/seoul/detail(no=${vo.no},type=1)}" class="image featured"><img th:src="${vo.poster}" onerror="this.src='images/noimage.png'" style="width: 100%; height: 200px;" /></a>
						<div class="inner">
							<header>
								<h2>[[${vo.title}]]</h2>
								<p>[[${vo.address}]]</p>
							</header>
							<p>[[${vo.msg}]]</p>
						</div>
					</section>
				</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-4 col-12-medium" th:each="vo : ${nList}">
					<!-- Box -->
					<section class="box feature">
						<a th:href="@{/seoul/detail(no=${vo.no},type=1)}" class="image featured"><img th:src="${vo.poster}" onerror="this.src='images/noimage.png'" style="width: 100%; height: 200px;" /></a>
						<div class="inner">
							<header>
								<h2>[[${vo.title}]]</h2>
								<p>[[${vo.address}]]</p>
							</header>
							<p>[[${vo.msg}]]</p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row gtr-200">
			
			</div>
		</div>
	</div>
</body>
</html>