<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="main-wrapper">
		<div class="container">
			<div class="row aln-center">
				<h3 class="text-center">삭제하기</h3>
				<form method="post" action="/board/delete_ok">
					<table class="table">
						<tbody>
							<tr>
								<td class="text-center">
									비밀번호: <input type="password" name="pwd" size="15" class="input-sm" required="required">
									<input type="hidden" name="no" th:value="${no}">
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<button type="submit" class="btn-sm btn-danger">삭제</button>
									<button type="button" class="btn-sm btn-primary" onclick="javascript:history.back()">취소</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>