<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="main-wrapper">
		<div class="container">
			<h3 class="text-center">수정하기</h3>
			<div class="row aln-center">
		        <form method="post" action="/board/update_ok">
		         	<table class="table">
		           		<tbody>
		             		<tr>
		               			<td class="text-right" width="15%">이름</td>
		               			<td width="85%">
		                 			<input type="text" name="name" size="20" class="input-sm" required="required" th:value="${vo.name}">
		                 			<input type="hidden" name="no" th:value="${vo.no}">
		               			</td>
		             		</tr>
		             		<tr>
		               			<td class="text-right" width="15%">제목</td>
		               			<td width="85%">
		                 			<input type="text" name="subject" size="60" class="input-sm" required="required" th:value="${vo.subject}">
		               			</td>
		             		</tr>
		             		<tr>
		               			<td class="text-right" width="15%">내용</td>
		               			<td width="85%">
		                 			<textarea rows="10" cols="60" name="content" required="required">[[${vo.content}]]</textarea>
		               			</td>
		             		</tr>
		             		<tr>
		               			<td class="text-right" width="15%">비밀번호</td>
		               			<td width="85%">
		                 			<input type="password" name="pwd" size="10" class="input-sm" required="required">
		               			</td>
		             		</tr>
		             		<tr>
		               			<td colspan="2" class="text-center">
		                 			<button type="submit" class="btn-sm btn-primary">수정</button>
		                 			<button type="button" class="btn-sm btn-danger" onclick="javascript:history.back()">취소</button>
		               			</td>
		             		</tr>
		           		</tbody>
		         	</table>
		       	</form>
			</div>
		</div>
	</div>
</body>
</html>